body{
    font-family: 'Lora', serif;
    font-family: 'Dosis', sans-serif;
    color: #444;
    letter-spacing: 1px;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 42px;
}

#wrapper {
    width: 70%;
    max-width: 800px;   
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#page-banner{
    background: rgba(255, 35, 35, 0.7);
    padding: 10px 0 10px 0
}
#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 70%;
    max-width: 200px;
    margin: 20px auto;
    display: block;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    color: #444;
}

#task-list, #add-task, #tabbed-content{
    margin: 30px;
}

#task-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#task-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}
#task-list li:hover{
    border-color: rgb(95, 137, 192);
}
.delete{
    float: right;
    background: rgba(255, 35, 35, 0.7);
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover {
    background: rgb(255, 35, 35);
}

#add-task {
    width: 600px;
    margin: 0 auto;
}

#add-task input{
    display: block;
    margin: 10px 0;
    padding: 7px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 85%;
    float: left;
    clear: both;
}

#add-task button {
    border: 1px solid rgb(108, 177, 129);
    background: rgb(95, 137, 192);
    padding: 6px;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 15%;
    float: left;
    margin: 10px 0;
    border-left: 0;
    color: white;
}

#add-task button:hover {
    background: rgb(116, 162, 223);
}
#add-task:after{
    content: '';
    display: block;
    clear: both;
}

#add-task #hide{
    width: 30px;
}

#add-task label{
    line-height: 52px;
}

#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active{
    display: block;
}

footer{
    background: rgba(255, 35, 35, 0.1);
    text-align: center;
    padding: 2em;
}